<!DOCTYPE html>
<html>
<head>
  <title>Theme</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
   <%= stylesheet_link_tag    "application", media: "all" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
   <ul>
     <ul class="nav nav-tabs" id="navstyle">
       <li><%= link_to "About", welcome_about_path %></li>
       <li><%= link_to "Work", welcome_work_path %></li>
       <li><%= link_to "Contact", welcome_contact_path %></li>
     </ul>
   </ul>
 </div>

<%= yield %>

</body>
</html>
